pycache/
*.pyc
*.pyo

.venv/
venv/
env/

.vscode/
.idea/
.DS_Store

*.log
*.tmp

#### By me
# Dont push any .env file
.env*
# Firebase emulator
firebase.json
.firebaserc
# Don't push dev dockerfile
web/Dockerfile.dev
web/nginx.conf.dev
