# Python
pycache/
*.pyc
*.pyo

.venv/
venv/
env/

# IDE files
.vscode/
.idea/
.DS_Store

# Log/Temporally files
*.log
*.tmp

###> symfony/framework-bundle ###
web/.env.local
web/.env.local.php
web/.env.*.local
web/config/secrets/prod/prod.decrypt.private.php
web/public/bundles/
web/var/
web/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
web/phpunit.xml
web/.phpunit.cache/
###< phpunit/phpunit ###

###> symfony/asset-mapper ###
web/public/assets/
###< symfony/asset-mapper ###


#### By me
# Dont push any .env file
.env*
# Firebase emulator
firebase.json
.firebaserc
# Don't push dev dockerfile
web/Dockerfile.dev
web/nginx.conf.dev
