{% extends 'page.html.twig' %}

{% block title %}
	{{ parent() }}
	- Total Daily Orders
{% endblock %}
{% block content %}
	<main>
		<div class="d-flex justify-content-center align-items-center" data-controller="confetti">
			<h1 class="bi bi-cart-check" style="font-size: 10vw;">Pedidos</h1>
		</div>
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<div class="d-flex justify-content-center align-items-center flex-fill" data-controller="odometer" data-odometer-value-value="999" data-odometer-duration-value="2500" style="font-size: 10vw;">
					<div class="odometer-large text-center">
						&nbsp;
					</div>
				</div>
			</div>
			<div class="col-md-4"></div>
		</div>
	</main>
{% endblock %}
